@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #212529;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #343a40;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 32px;
    color: #ffc107;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #6c757d;
    background-color: #212529;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box; /* Toegevoegde eigenschap */
}

.weather-info {
    margin-top: 20px;
    text-align: left;
    font-size: 18px;
}

.update-counter {
    margin-top: 10px;
    font-size: 16px;
    color: #888;
    padding-top: 10px;
    border-top: 1px solid #6c757d;
}
