@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    achtergrondkleur: #212529;
    kleur: #fff;
    tekst-align: center;
    marge: 0;
    vulling: 0;
}

.container {
    max-breedte: 400px;
    marge: 0 auto;
    achtergrondkleur: #343a40;
    vulling: 20px;
    border-radius: 15px;
    doos-schaduw: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    lettergrootte: 32px;
    kleur: #ffc107;
    marge-onder: 20px;
}

.search-container {
    weergave: flex;
    rechtvaardigen-inhoud: centrum;
    uitlijnen-items: centrum;
    flex-richting: kolom;
    positie: relatief;
}

input[type="text"] {
    breedte: 100%;
    vulling: 10px;
    marge-boven: 10px;
    rand: 1px solide #6c757d;
    achtergrondkleur: #212529;
    kleur: #fff;
    border-radius: 5px;
    lettergrootte: 18px;
    doos-sizing: border-box; /* Toegevoegde eigenschap */
}

.weather-info {
    marge-boven: 20px;
    tekst-align: links;
    lettergrootte: 18px;
}

update-counter {
    marge-boven: 10px;
    lettergrootte: 16px;
    kleur: #888;
    vulling-boven: 10px;
    rand-boven: 1px solide #6c757d;
}

img {
	weight: 10px;
	height: 10px;
}
